body 
{
    background:#000000;
    font:13px Arial;
    margin:0 auto;
    width:985px;    
}
img{
	border: none;	
}
#header_tienda div.header_section 
{
    display:none;
}
#header_tienda section.header_section 
{
    float:right;
    }
    #header_tienda section.header_section div
    {
        display:none;
    }
    #header_tienda section.header_section div:first-child
    {
        display:block;
        margin:0;
        padding:0 0 5px 0;
    }
section#contenido 
{
    clear:both;
    margin:0;
    padding:0;
    }
    nav.banner_categorias 
    {
        background:#000000 url(../images/nav_background.gif) repeat-x top left;
        height:26px;
        margin:0;
        padding:0;
        }
        nav.banner_categorias ul 
        {
            height:26px;
            list-style:none;
            margin:0 0 0 50px;
            padding:0;
            }
            nav.banner_categorias ul li 
            {
                float:left;
                }
            nav.banner_categorias ul li:first-child
            {
                /*display:none;*/
                }
                nav.banner_categorias ul li a
                {
                    color:#FFFFFF;
                    font-weight:bold;
                    line-height:26px;
                    padding:0 25px 0 0;
                    text-decoration:none;
                    text-transform:uppercase;
                    }
                nav.banner_categorias ul li a:hover 
                {
                    color:#8DC540;
                    }
    div.contenidos
    {
        margin:0;
        padding:0;
        }         
        div.contenidos div.blank_section 
        {
            height:10px;
            }
        div.contenidos div.menuv 
        {
            display:none;
            }   
        div.contenidos div.contenido_promos 
        {
            margin:0;
            padding:0;
            }
div.footer_main 
{
    border-top:2px inset #606060;
    font-size:10px;
    line-height:32px;
    text-align:center;
    text-transform:uppercase;
    }    
    div.footer_main div 
    {
        display:inline;
        padding:10px;
        }
            
    div.footer_main a 
    {
        color:#FFFFFF;
        text-decoration:none;
        }
div#footer-container 
{
    display:none;
    }            
    

#paginacion{
	clear: both;	
	margin-left: auto; 
	margin-right: auto; 
	width: 320px;	
	text-align: center;	
}

#paginacion .avance{
	color: #21558F;
	font-size: 13px;
	text-decoration: underline;	
	margin-left: 2px;	
	float: left
}

#paginacion .padding-texto{
	margin: 0px 5px;			
}

#paginacion .triangulo-azul-izq{
	border:none;
	width: 3px;			
	height: 8px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -5px -10px;	
	float:left;
	padding-left:2px;
	margin: 5px 3px 0px 0px;
}

#paginacion .triangulo-azul-der{
	border:none;
	width: 3px;			
	height: 8px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -21px -2px;	
	float:left;
	padding-left:2px;
	margin: 5px 0px 0px 3px;
}

#paginacion .pleca-vertical{
	background-color: #939393;
	width: 1px;
	height: 15px;
	float: left;
	margin: 0px 7px;
}

#paginacion .texto-pagina{
	font-size: 13px;
	color: #939393;		
	float: left;
	margin: 0px 5px 0px 0px;
}

#paginacion  .actual{
	margin: 0px 5px;
	font-size: 13px;
	color:#800;	
	font-weight: bold;	
	float: left;
}