html
{
    min-height: 100%;
    padding-bottom: 1px;
}
body
{
    background: none repeat scroll 0 0 #000000;
    margin: 0 auto;
    width: 1024px;
}
a
{
    text-decoration: none;
}
#header-container
{
    float: left;
    width: 128px;
}
    #header-container img
    {
        margin: 13px 10px 0;
    }
#main
{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,Sans-serif;
    min-height: 728px;
    width: 768px;
    overflow:hidden;
}
#main img{								
	border: none;										
}
    #encabezado_tienda
    {
        overflow: hidden;
    }
        div.header_section
        {
            background:url(../images/css-sprite_btnAyuda1.png) no-repeat 557px -10px;
            height:30px;
            margin:35px 0 26px;
            overflow:hidden;
        }
            div.header_section div:first-child 
            {
                /*display:none;*/
            }
            div.header_section div.titulo_logo
            {
                float:left;
                line-height:30px;
                margin: 5px 0 0 100px;
                padding:0;
                font-weight: bold;
                font-size: 23px;
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
            }           
            div.necesita-ayuda 
            {
                background: url(../images/css-sprite_btnAyuda2.png) no-repeat 0 -4px;
                float:right;
                height:21px;
                width:288px;
            }
            div.necesita-ayuda:hover
            {
                background-position: 0px -25px;
            }
        div.blank_section
        {
            display: none;
        }
        section.header_section
        {
            background: #F0F0F0;
            clear:both;
            color: #545454;
            font-size: 13px;
            padding: 5px 36px 5px 36px;
            overflow: hidden;
            text-align:left;
        }
            section.header_section form 
            {
                float:left;
                line-height:13px;
                height:24px;
                margin:0;
                padding:0;
                overflow:hidden;
            }
                section.header_section form select#filtro_busqueda 
                {
                   color:#343434;
                   font-size:11px;
                   line-height:13px;
                   height:18px;
                   width:143px;
                }
                section.header_section form input#s 
                {
                    background:#FFFFFF url(../images/css_sprite_LupaBuscar.png) no-repeat -3px -3px;
                    border:1px solid #D0D0D0;
                    border-radius:2px;
                    font-size:11px;
                    line-height:13px;
                    height:18px;
                    margin:0;
                    padding-left:20px;
                    width:250px;
                }
                section.header_section form input[type=submit] 
                {
                    background: url(../images/css_sprite_btnIR.png) no-repeat -7px -5px;
                    border:none;
                    line-height:22px;
                    height:22px;
                    margin:0 0 0 5px;
                    padding:1px 0 20px;
                    text-indent:-1000px;
                    width:31px;
                }
                section.header_section form input[type=submit]:hover 
                {
                    background-position:-7px -27px;
                } 
            #header_tienda a.carrito, 
            #header_tienda a.login,
            #header_tienda a.mi_cuenta
            {
                background: url(../images/css_sprite_btn01.png) no-repeat -7px -5px;
                float:left;
                margin:0 0 0 8px;
                padding:0;
                text-indent:-1000px;
            }
            #header_tienda a.login 
            {
                background-position:-88px -5px;
                height:22px;
                width:81px;
            }
            #header_tienda a.login:hover
            {
                background-position:-88px -27px;
            }
            #header_tienda a.mi_cuenta
            {
                background-position:-7px -5px;
                height:22px;
                width:81px;
            }
            #header_tienda a.mi_cuenta:hover
            {
                background-position:-7px -27px;
            }
            #header_tienda a.logout
            {
                display:none;
            }
            #header_tienda a.carrito
            {
                background-position:-169px -5px;
                height:22px;
                width:72px;
            }
            #header_tienda a.carrito:hover
            {
                background-position:-169px -27px;
            }
    div#contenido 
    {
    }
        nav.banner_categorias
        {
            background: #C00009 url(../images/nav_background.jpg) repeat-x top left;
            padding-left:36px;
            width:768px;
            height: 29px;
            overflow:hidden;
        }
            nav.banner_categorias ul
            {
                list-style: none;
                margin: 0;
                padding: 0;
            }
                nav.banner_categorias ul li
                {
                    float: left;
                    padding: 0;
                }
                    nav.banner_categorias ul li a
                    {
                        background: url(../images/nav_ul_li_background.jpg) repeat-x 0 0;
                        display:block;
                        font-size:12px;
                        font-weight:bold;
                        color:#FFFFFF;
                        text-transform:uppercase;
                        line-height:30px;
                        margin:0 8px 0 0;
                        padding:0 5px;
                        overflow:hidden;
                    }
                    nav.banner_categorias ul li a:hover
                    {
                        background-position:0 -29px;
                    }
        div.contenidos 
        {
            margin:18px 36px 0;
            overflow:hidden;
        }
            div.menuv
            {
                float: left;
                padding: 0;
                margin: 0;
                overflow: hidden;
                width: 138px;
            }
                div.menuv ul
                {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                div.menuv ul li
                {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                div.menuv ul li p
                {
                    background: url(../images/menuv_header.png) no-repeat left top;
                    height:21px;
                    margin:0;
                    padding:0;
                    text-indent:-1000px;
                }
                div.menuv ul li ul
                {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
                div.menuv ul li ul li a
                {
                    background: #FAFAFA;
                    border: 1px solid #DADADA;
                    border-top: 1px solid #FFFFFF;
                    color: #a9a9a9;
                    display: block;
                    font-size: 11px;
                    font-weight: bold;
                    padding: 3px 10px;
                }
                div.menuv ul li ul li a:hover
                {
                    background:#DEDEDE;
                    border: 1px solid #DADADA;
                    border-top: 1px solid #E0E0E0;
                    color: #C60002;
                }
            div.contenido_promos
            {
                background:#FFF;
                float: right;
                margin:0;
                padding: 0;
                width:528px;
            }
        div#pleca-punteada 
        {
            border-top:1px dotted #D0D0D0;
            height:1px;
            line-height:1px;
            margin:10px auto 5px;
            padding:0;
            overflow:hidden;
            width:696px;
            }
    div.footer_main
    {
        margin: 10px;
        width: 350px;
        margin: 0 auto;
        overflow:hidden;        
    }
        div.footer_main div
        {
            float: left;
            margin: 0 10px;
            overflow: hidden;
        }
            div.footer_main div a
            {
                color: #0461B3;
                font-size: 12px;
                font-weight: bold;
            }
#footer-container
{
    float: left;
    overflow: hidden;
    width: 128px;
}
    #footer-container img
    {
        margin: 65px 10px 0;
    }


input[type="radio"]{
	display: none;
}

.radio_no_selected{
    border: none;
	height: 16px;
	width: 16px;
	background: transparent url('../images/css-sprite_icons.png') no-repeat;	
	background-position: -153px -49px;	
	float: left;	
}
.radio_selected{
	border: none;
	height: 16px;
	width: 16px;	
	background: transparent url('../images/css-sprite_icons.png') no-repeat;	
	background-position: -153px -65px;	
	float: left;
}
.label_radio{
	float: left;
	margin-left: 5px;
}

#separacion{
	clear: both;	
	height: 15px;	
	width: 493px;
}

#paginacion{
	clear: both;	
	margin-left: auto; 
	margin-right: auto; 
	width: 320px;	
	text-align: center;	
}

#paginacion .avance{
	color: #21558F;
	font-size: 13px;
	text-decoration: underline;	
	margin-left: 2px;	
	float: left
}

#paginacion .padding-texto{
	margin: 0px 5px;			
}

#paginacion .triangulo-azul-izq{
	border:none;
	width: 3px;			
	height: 8px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -5px -10px;	
	float:left;
	padding-left:2px;
	margin: 5px 3px 0px 0px;
}

#paginacion .triangulo-azul-der{
	border:none;
	width: 3px;			
	height: 8px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -21px -2px;	
	float:left;
	padding-left:2px;
	margin: 5px 0px 0px 3px;
}

#paginacion .pleca-vertical{
	background-color: #939393;
	width: 1px;
	height: 15px;
	float: left;
	margin: 0px 7px;
}

#paginacion .texto-pagina{
	font-size: 13px;
	color: #939393;		
	float: left;
	margin: 0px 5px 0px 0px;
}

#paginacion  .actual{
	margin: 0px 5px;
	font-size: 13px;
	color:#800;	
	font-weight: bold;	
	float: left;
}
 .nuevo-logo{
 	position: absolute;
	float: left;
	z-index: 50;
    width: 75px; 
    margin: -30px 0px 0px 25px;
}