#viewlet-formatos {
	margin: 28px 0 15px 0;
	clear: both;
	width: 529px;
}

#viewlet-formatos .cuenta_promociones {
	font-family: Arial;
	font-size: 13px;
	color:	#464646;
	font-weight: bold;

}

#viewlet-formatos .leyenda_formato {
	margin: 8px 0 8px 0;
	font-family: Arial;
	font-size: 13px;
	color:	#939393;
	font-weight: bold;
}

#viewlet-formatos .leyenda_formato label {
	color:	#e09f1a;
	font-weight: normal;
}

#viewlet-formatos  .pleca{
	clear: both;
	border:none;
	width:529px;			
	height: 3px;
	/*margin-left: 40px;*/
	background: url('../images/css_sprite_Lineseparacion.jpg') repeat;	
	background-position: 0px 0px;	
	
	
}
#viewlet-formatos  .img-flecha{
	border:none;
	width: 8px;			
	height: 10px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: 0px 0px;	
	float:left;
	padding-left:2px;
}
#viewlet-formatos  .img-flecha-negra{
	border:none;
	width: 5px;			
	height: 12px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -9px 2px;	
	float:left;
	padding-left:2px;
}
#viewlet-formatos  .img-flecha-roja{
	border:none;
	width: 3px;			
	height: 12px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -16px 2px;	
	float:left;
	padding-left:2px;
}
#viewlet-formatos .basic{

	border:none;
	float:right;
	width:180px;	
}
#viewlet-formatos .basic .titulo{
	font-weight: bold;
	font-size: 17px;
	color:#2e2e2e;
}
#viewlet-formatos .basic .descripcion-corta{
	font-size: 13px;
	color:#939393;	
}
#viewlet-formatos .basic .botones{
	margin-top: 35px;
	width:200px;
	float:left;
	border:none;
}
#viewlet-formatos .basic .botones .boton-ac{
	background-color:#e2e2e2;
	padding: 5px;
}
#viewlet-formatos .basic .botones .boton-cce{
	background-color:#F1F1F1;
	padding: 5px;
}

#viewlet-formatos .boton_continuar_compra{
	border: none;
	height: 20px;
	width: 115px;
	background: url('../images/css_sprite_BtnformaAñadir01.png') no-repeat;	
	background-position: -7px -7px;	
}
#viewlet-formatos .boton_continuar_compra:hover{
	border: none;
	height: 20px;
	width: 115px;
	background: url('../images/css_sprite_BtnformaAñadir01.png') no-repeat;	
	background-position: -7px -26px;	
}

#viewlet-formatos .boton_login{
	border: none;
	height: 20px;
	width: 180px;
	background: url('../images/css_sprite_BtnformaAñadir01.png') no-repeat;	
	background-position: -122px -7px;	
}
#viewlet-formatos .boton_login:hover{
	border: none;
	height: 20px;
	width: 180px;
	background: url('../images/css_sprite_BtnformaAñadir01.png') no-repeat;	
	background-position: -122px -26px;	
}

/**/
	#viewlet-formatos .contenido{
	clear: both;
	padding-top:23px;
}
#viewlet-formatos .contenido .datos-importantes{
	padding:1px;
	background-color:#e2e2e2;
	font-size:14px;
	font-weight:bold;
}
#viewlet-formatos .contenido .texto{
	padding-top:15px;
	font-size:13px;
	color:#939393;
	text-align:justify; 
}
#viewlet-formatos .contenido .texto-final{
	font-size:13px;
	color:#939393;
	text-align:justify; 
}
#viewlet-formatos .contenido .lista{
	padding-top:10px;
	font-size:13px;
	color:#939393;
}
#viewlet-formatos .contenido .lista ol{
	font-size:13px;
	color:#CA0002;
	font-weight:bold;
	
}
#viewlet-formatos .contenido .lista ol span{
	font-size:13px;
	color:#939393;
	
}
#viewlet-formatos .nexpositor{
	padding:5px;
	padding-left:15px;
	color:#CA0002;
	font-size:13px;
	font-weight:bold;
}


#viewlet-formatos  .foo {
    counter-reset: foo;
  }
 #viewlet-formatos  .foo li {
    list-style-type: none;
  }
#viewlet-formatos .foo li::before {
    counter-increment: foo;
    content: "1." counter(foo) " ";
  }