.list_carousel {	
	margin: 0px;
	padding: 0px;	
}

.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {		
	text-align: center;								
	padding: 0px;
	margin: 0px;
	display: block;
	float: left;		
	height: 230px				
}	

.imagen1{
	margin-top: 25px;			
	width: 132px;
	height: 180px;
}

.imagen2{
	margin-top: 5px;			
	width: 180px;
	height: 220px;
}

/*  
 .list_carousel li img{
	margin-top: 5px;			
	width: 180px;
	height: 210px;		
}
*/

.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	position: absolute;	
	margin-left: 1px;
	margin-top: -65px;
	z-index: 2;			
	width: 18px;
	height: 40px;		
	background: transparent url('../images/kiosco_contenido_flecha_izq.png') no-repeat;	
	background-position: 0px 0px;
}
.next {					
	position: absolute;
	margin-left: 680px;
	z-index: 2;	
	margin-top: -65px;		
	width: 18px;
	height: 40px;		
	background: transparent url('../images/kiosco_contenido_flecha.png') no-repeat;	
	background-position: 0px 0px;
}

#carr_categoria{
	width: 680px;		
	float: left;
	position: relative;
}

#contenedor_slide{
	width: 700px;	
	position: relative;	
}
