#viewlet-detalle-suscripcion{						
	margin-top: 22px;			
	font-family: Arial;	
	padding-left: 40px;
	overflow:hidden; 
	display: block;								
}

#viewlet-detalle-suscripcion .bloque-left{	
	width: 190px;
	min-height: 173px;
	float: left;		
	text-align: center;
	padding-top: 20px;
	display: block;	
}
	
#viewlet-detalle-suscripcion .bloque-left .selects{
	text-align: left
}

#viewlet-detalle-suscripcion .bloque-left .selects select{
	width: 190px;
	margin-top: 5px;
	height: 25px;
}

#viewlet-detalle-suscripcion .bloque-middle{
	float: left;
	padding: 0px 60px;		
	width: 165px;	
}

#viewlet-detalle-suscripcion .bloque-middle img{
	height: 225px;
	width: 165px;
}

#viewlet-detalle-suscripcion .bloque-right{
	float: left;	
	width: 190px;
	min-height: 173px;
	padding-top: 20px;
	text-align: center;	
}

#viewlet-detalle-suscripcion .back-rayado{
	background-image: url('../images/kisco_contenido_pleca.png');	
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
	text-align: left;
	margin: 10px 0px;
}	

#viewlet-detalle-suscripcion .boton-comprar-ahora{
	background: url('../images/kiosco_carrito_tarjeta.png') no-repeat;	
	background-position: 150px 0px;				
	height: 30px;
	width: 185px;
	color: #FFF;
	text-align: left;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

#viewlet-detalle-suscripcion .boton-anadir-carrito{
	background: url('../images/kiosco_carrito.png') no-repeat;	
	background-position: 150px 0px;				
	height: 30px;
	width: 185px;
	color: #FFF;
	text-align: left;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

#viewlet-detalle-suscripcion .precio{
	color: #E80403;
	font-size: 28px;
	font-weight: bold;
}

#viewlet-detalle-suscripcion .descripcion-promocion{
	color: #9A9A9A;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
}




#viewlet-detalle-suscripcion .detalle{
	float: left;
	margin-left: 26px;		
	width: 371px;	 			
}

#viewlet-detalle-suscripcion .bloque-descripcion{
	padding: 8px 0px 5px 0px;				
	min-height: 80px;	
	margin-bottom:10px
}

#viewlet-detalle-suscripcion .titulo-detalle{				
	color: #CA0002;
	font-size: 17px;
	font-weight: bold;
}


#viewlet-detalle-suscripcion .bloque-texto{					
	padding: 5px 0px 0px 0px;	
}

#viewlet-detalle-suscripcion .texto-detalle{				
	color: #939393;
	font-size: 13px;
	padding-top: 5px;	
}

#viewlet-detalle-suscripcion .precio-detalle{				
	color: #2E2E2E;
	font-size: 15px;
	font-weight: bold;	
}


#viewlet-detalle-suscripcion .space-pleca{
	clear: both;		
	height: 22px;	
}

#viewlet-detalle-suscripcion .pleca-separacion{	
	background-color: #ECECEC;	
	height: 1px;			
}

#viewlet-detalle-suscripcion .banner-descripcion{	
	background-color: #ECECEC;			
	padding: 5px 0px;
	color: #3D3D3D;
	font-size: 13px;
	font-weight: bold;		
}

#viewlet-detalle-suscripcion .triangulo-negro-der{	
	border:none;
	width: 3px;			
	height: 8px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -11px -2px;	
	float:left;
	padding-left:2px;
	margin: 5px 0px 0px 3px;		
}

#viewlet-detalle-suscripcion .triangulo-rojo-der{	
	border:none;
	width: 3px;			
	height: 8px;
	background: url('../images/css_sprite_Triangulos.png') no-repeat;	
	background-position: -16px -2px;	
	float:left;
	padding-left:2px;
	margin: 5px 3px 0px 3px;		
}

#viewlet-detalle-suscripcion .descripcion{					
	padding: 10px 0px 5px 0px;
	color: #939393;
	font-size: 13px;			
}


th{
	background-color: #D0D0D0;	
	height: 18px;			
	padding: 3px 5px;
	color: #3D3D3D;
	font-size: 13px;
	font-weight: bold;		
}
td{
	background-color: #F1F1F1;				
	padding: 3px 5px;	
	color: #525252;
	font-size: 13px;
	font-weight: bold;	
}


