#viewlet-login .titulo{
	padding-left:3px;
	padding-top:3px;
	color: #4f4f4f;
	font-weight:bold ;	
	font-size:18px;	
}

#viewlet-login .pleca-superior{
	height: 1px;
	background-color: #CCC;
	margin: 5px 0px;
}

#viewlet-login .boton-iniciar-sesion{
	border: none;
	height:24px;
	width:152px;
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -13px -15px;
}

#viewlet-login .boton-iniciar-sesion:hover{	
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -13px -39px;
}

#viewlet-login .label{
	color: black;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
}

#viewlet-login .label{
	vertical-align: top;
	padding-top: 5px;
}

#viewlet-login .label_izq{
	color: black;
	font-size: 12px;	
	font-weight: bold;
}

#viewlet-login .formulario{
	padding-top: 10px;
}
#viewlet-login .instrucciones{
	color: #4E4E4E;
	font-size: 12px;
	font-weight: bold;	
	padding-left: 3px;
}

#viewlet-login a{
	color: #094C86;
	font-size: 12px;
	font-weight: bold;
}

#viewlet-login .crear-cuenta {
	border: none;
	height: 24px;
	width: 183px;
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -165px -15px;
}

#viewlet-login .crear-cuenta:hover {
	border: none;
	height: 24px;
	width: 183px;
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -165px -39px;
}

#viewlet-login .error, .error2{
	color: #E70030;
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	z-index: 2;
	position: relative;	
	margin-top: 5px;
	background-color: #FFF;		
}

#viewlet-login .verificar-clave {
	border: none;
	height: 24px;
	width: 115px;
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -1288px -15px;
}

#viewlet-login .verificar-clave:hover {
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -1288px -39px;
}

#viewlet-login .enviar-instrucciones {
	border: none;
	height: 24px;
	width: 150px;
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -1138px -15px;
}

#viewlet-login .enviar-instrucciones:hover {
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -1138px -39px;
}

#viewlet-login .cambiar-password {
	border: none;
	height: 24px;
	width: 76px;
	background:  url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -1007px -15px;
}

#viewlet-login .cambiar-password:hover {
	background: url('../images/css-sprite_iniciar_sesion.png') no-repeat;
	background-position: -1007px -39px;
}