<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteBase /tienda/
	
	##Removes access to the system folder by users.
    ##Additionally this will allow you to create a System.php controller,
    ##previously this would not have been possible.
    ##'system' can be replaced if you have renamed your system folder.
    #RewriteCond %{REQUEST_URI} ^system.*
    #RewriteRule ^(.*)$ /tienda/index.php?/$1 [L]
    
    ##When your application folder isn't in the system folder
    ##This snippet prevents user access to the application folder
    ##Submitted by: Fabdrol
    ##Rename 'application' to your applications folder name.
    #RewriteCond %{REQUEST_URI} ^application.*
    #RewriteRule ^(.*)$ /tienda/index.php?/$1 [L]

    ##Checks to see if the user is attempting to access a valid file,
    ##such as an image or css document, if this isn't true it sends the
    ##request to index.php
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(.*)$ index.php?/$1 [L]
    
    #Test Redirect
    #RewriteRule ^(*.php)$ /$1 [L]
    RewriteRule ^login/?$ 		login.php
    RewriteRule ^logout/?$ 		logout.php
    RewriteRule ^registro/?$ 	registro.php
    RewriteRule ^password/?$ 	password.php
    RewriteRule ^categoria/?$ 	categorias.php
    
    #### Publicaciones
    RewriteRule ^publicacion/?$						publicaciones.php
    RewriteRule ^publicacion/ofertas/([0-9]+)$		publicaciones.php?mostrar=ofertas&id_publicacion=$1
    RewriteRule ^publicacion/detalle/([0-9]+)$ 		publicaciones.php?mostrar=detalle&id_publicacion=$1
    
    #### Home
    RewriteRule ^home/?$	http://%{HTTP_HOST}/tienda/
    RewriteRule ^([A-Za-z\+]*)/home/?$	http://%{HTTP_HOST}/tienda/
    
    #### Categorías
    RewriteRule ^categoria/([0-9]+)/?$ categorias.php?id_categoria=$1
    
    ##Por lo mientras para las promoniones especiales
    RewriteRule ^categoria/promociones-especiales/?$ promociones-especiales.php
	RewriteRule ^promociones-especiales/?$	promociones-especiales.php
	RewriteRule ^detalle-suscripcion/?$		detalle-suscripcion.php
    RewriteRule ^password/([A-Za-z\+]+)/?$	password.php?accion=$1
    
    #### Login y Password
    ##La siguiente debe ser: RewriteRule ^password/([A-Za-z\+]+)/([A-Za-z0-9\+]+)/([A-Za-z0-9\+]+)/?$  password.php?accion=$1&passtemp=$2&datcont=$3
    RewriteRule ^password/([A-Za-z\+]+)/([A-Za-z0-9\+]+)/?$ 	password.php?accion=$1&passtemp=$2
    
    #RewriteRule ^publicaciones controllers/publicaciones.php
	#RewriteRule ^categorias controllers/categorias.php
	#RewriteRule ^home controllers/home.php	
	
</IfModule>

<IfModule !mod_rewrite.c>
    # If we don't have mod_rewrite installed, all 404's
    # can be sent to index.php, and everything works as normal.
    # Submitted by: ElliotHaughin

    ErrorDocument 404 /index.php
</IfModule>