
tr.myDragClass td {
    background-color: #D1E5EF;
	color:red;
}
/*
.columna{
	float:left;
	position:relative;
	top:0px;
	left:0px;
	width:70%;
	border:1px solid #000;
}
.columna2{
	float:left;
	position:relative;
	top:0px;
	left:0px;
	width:29%;
	border:1px solid #000;
	
}
*/