
<div id='viewlet-login'>
	<div class="titulo"><span style="padding-left: 50px;">INICIAR SESIÓN</span></div>
	<div class="pleca-superior"></div>	
	<div class="formulario">
		<form id="login_tienda" action="<?php echo TIENDA;?>login/" method="post">
			<table  class="tabla">
					<tr>
						<td class="label">
							Correo&nbsp;electr&oacute;nico&nbsp;
						</td>
						<td colspan="2">
							<input type="text" name="email" id="email" size="40"
								value="<?php if(isset($_POST['email'])) echo htmlspecialchars($_POST['email']);?>" class="intext"/><?php if(isset($login_errores['email'])) echo $login_errores['email'];?>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td colspan="2">
							<div class="instrucciones">S&oacute;lo usaremos tu correo para enviarte informaci&oacute;n relacionada con tu compra</div>				
						</td>
					</tr>
				
					<tr >
						<td rowspan="5" valign="top" class="label" style="padding-top: 50px;">Iniciar sesi&oacute;n </td>
						<td style="padding-top: 50px;">			
							<input type="radio" id="tipo_inicio" name="tipo_inicio" value="nuevo"/>
							<div id="divtipo_inicio" class="radio_no_selected">&nbsp;</div>		
						</td>
						<td class="label_izq" style="padding-top: 50px;">	
							Cliente nuevo	
						</td>
					<tr>		
					<tr>
						<td >
							<input type="radio" id="tipo_inicio2" name="tipo_inicio" value="registrado" checked="<?php if(isset($_POST['tipo_inicio']) && $_POST['tipo_inicio'] == 'registrado') echo 'true'; ?>" />
							<div id="divtipo_inicio2" class="radio_selected">&nbsp;					
							</div>		
						</td>
						<td class="label_izq">				
							Cliente registrado									
						</td>
					</tr>		
					<tr>
						<td>&nbsp;</td>
						<td class="label_izq">
							Contrase&ntilde;a	
							<input type="password" name="password" id="password" size="25" 
								value="<?php if(isset($_POST['password'])) echo htmlspecialchars($_POST['password']);?>" class="lasttext" />	
								<input type="submit" id="enviar" name="enviar" value="Iniciar sesión" class="boton-iniciar-sesion"/>			
							<div class="blank_section">&nbsp;</div>
							<div>				
								<?php
								 if(isset($login_errores['user_login'])) echo "<span class='validation_message'>".$login_errores['user_login']."</span>";
								?>
							</div>
							<div class="blank_section">&nbsp;</div>				
						</td>
					</tr>
					
					<tr>
						<td>&nbsp;</td>
						<td style="padding-top:30px;">
							<span>
								<a href="<?php echo site_url('password'); ?>" id="olvido_contrasena">&iquest;Olvidaste tu contrase&ntilde;a?</a>
								<?php 
									if(isset($login_errores['password'])) echo $login_errores['password'];
								?>
							</span>
						</td>
					</tr>
					
			</table>
		</form>
	</div>	
</div>