<div class='formulario'>
	<form id="form_recordar_password" action="<?php echo site_url('password/enviar/'); ?>" method="POST">
	<table class="tabla" >
		<tr>
			<td class="label" style="width: 150px;">
				Correo electr&oacute;nico
			</td>
			<td >
				<input class="lasttext" type="text" name="email" id="email" size="40" value="<?php if(isset($_POST['email'])) echo htmlspecialchars($_POST['email']);?>"/><?php if(isset($mensaje)) echo ($mensaje);?>
			</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" id="recordar_password" value="Enviar instrucciones"  class="boton-intrucciones"/></td>
		</tr>
	</table>
	</form>					
</div>	
